In [70]:
ANO = 2019
RANK = 15
CARD = "Wondrous Labyrinth ♢"

In [71]:
import numpy as np
import pandas as pd
import pysubgroup as ps

df_original = pd.read_csv('./Data/tournaments.csv')
df = df_original.copy()

columns_to_remove = [
    'id_card', 'amount_card', 'price_card', 'combo_type_id', 'name_tournament',
    'combo_type_name', 'name_player', 'category_tournament', 'type_card',
    'month_tournament', 'valid_rotation_at_tournament', 
    'rotation_name', 'year_begin', 'all_time_score', 'country_tournament', 
    'country_player', 'day_tournament','month_begin','day_begin'
]
df.drop(columns=columns_to_remove, inplace=True)
df = df[df['region_tournament'].notna()]

In [72]:
df.head(0)

Empty DataFrame
Columns: [name_card, energy_type_card, id_player, ranking_player_tournament, id_tournament, region_tournament, year_tournament]
Index: []

In [73]:
df[(df['region_tournament'] == 'JP') & (df['year_tournament'] == ANO)].sort_values(by='ranking_player_tournament', ascending=True)

,name_card,energy_type_card,id_player,ranking_player_tournament,id_tournament,region_tournament,year_tournament
106232,Jirachi,Metal,2737,1,231,JP,2019
106737,Welder,NaN,2187,1,143,JP,2019
106736,Absol,Darkness,2187,1,143,JP,2019
106735,Hoopa,Darkness,2187,1,143,JP,2019
106734,Mew,Psychic,2187,1,143,JP,2019
...,...,...,...,...,...,...,...
108195,Tapu Koko ♢,Lightning,2005,64,144,JP,2019
108194,Zapdos,Lightning,2005,64,144,JP,2019
108193,Jirachi,Metal,2005,64,144,JP,2019
108204,Volkner,NaN,2005,64,144,JP,2019
108217,Shrine of Punishment,NaN,2005,64,144,JP,2019

In [74]:
df[(df['name_card'] == CARD)].sort_values(by='ranking_player_tournament', ascending=True)

,name_card,energy_type_card,id_player,ranking_player_tournament,id_tournament,region_tournament,year_tournament
77752,Wondrous Labyrinth ♢,NaN,284,2,150,AS-OC,2019
106800,Wondrous Labyrinth ♢,NaN,2188,3,143,JP,2019
108306,Wondrous Labyrinth ♢,NaN,1791,4,142,JP,2018
77802,Wondrous Labyrinth ♢,NaN,149,4,150,AS-OC,2019
107343,Wondrous Labyrinth ♢,NaN,1950,6,144,JP,2019
113423,Wondrous Labyrinth ♢,NaN,2277,8,175,AS-OC,2019
113472,Wondrous Labyrinth ♢,NaN,2279,10,175,AS-OC,2019
108640,Wondrous Labyrinth ♢,NaN,1436,19,142,JP,2018
107603,Wondrous Labyrinth ♢,NaN,1969,25,144,JP,2019
107687,Wondrous Labyrinth ♢,NaN,1975,31,144,JP,2019
108822,Wondrous Labyrinth ♢,NaN,1423,33,142,JP,2018
107785,Wondrous Labyrinth ♢,NaN,1979,35,144,JP,2019
107093,Wondrous Labyrinth ♢,NaN,2210,35,143,JP,2019
108889,Wondrous Labyrinth ♢,NaN,1818,37,142,JP,2018
107882,Wondrous Labyrinth ♢,NaN,1986,42,144,JP,2019
109028,Wondrous Labyrinth ♢,NaN,1827,48,142,JP,2018
78678,Wondrous Labyrinth ♢,NaN,567,50,150,AS-OC,2019
107184,Wondrous Labyrinth ♢,NaN,2221,53,143,JP,2019
109114,Wondrous Labyrinth ♢,NaN,1831,57,142,JP,2018
77470,Wondrous Labyrinth ♢,NaN,2249,73,164,EU,2019
77566,Wondrous Labyrinth ♢,NaN,2254,78,164,EU,2019
105979,Wondrous Labyrinth ♢,NaN,1807,80,289,JP,2020
77705,Wondrous Labyrinth ♢,NaN,2261,88,164,EU,2019
106115,Wondrous Labyrinth ♢,NaN,3364,109,289,JP,2020
106161,Wondrous Labyrinth ♢,NaN,3367,112,289,JP,2020

In [75]:
print(f"{len(df[(df['name_card'] == CARD) & (df['year_tournament'] == ANO) & (df['ranking_player_tournament'] > RANK)])} jogadores com {CARD} em {ANO} e ranking > {RANK}")
print(f"{len(df[(df['name_card'] == CARD) & (df['year_tournament'] == ANO) & (df['ranking_player_tournament'] <= RANK)])} jogadores com {CARD} em {ANO} e ranking <= {RANK}")

10 jogadores com Wondrous Labyrinth ♢ em 2019 e ranking > 15
6 jogadores com Wondrous Labyrinth ♢ em 2019 e ranking <= 15